body {
  font-family: Verdana;
  font-size: 25px;
  color: lightgoldenrodyellow;
  background-color: #333;
  text-align: center;
  line-height: 1.4em;
}

main {
  padding: 0;
  margin-top: 40px;
}

h3 {
  margin-top: 30px;
}

.user-stories li {
  margin-bottom: 1em;
}

a {
  color: lightgoldenrodyellow;
}

form {
  margin: 10px auto;
  padding: 20px;
  max-width: 1200px;
}

label {
  margin-right: 10px;
}

input {
  padding: 5px;
}

input[type="text"] {
  width: 900px;
  border-radius: 1rem;
  font-size: 30px;
  background-color: #333;
  color: lightgoldenrodyellow;
  font-style: italic;
}

input[type="submit"] {
  width: 400px;
  height: 50px;
  border-radius: 1rem;
  margin-top: 20px;
  background-color: #333;
  color: lightgoldenrodyellow;
  font-size: 30px;
  font-weight: bold;
}
:focus {
  outline: 2px solid wheat;
}

input[type="submit"]:hover {
  background-color: #f7daa4;
  color: #7b5023;
}

/* Result Page */
.copyBtn {
  width: 400px;
  height: 50px;
  border-radius: 1rem;
  margin-top: 20px;
  background-color: #333;
  color: lightgoldenrodyellow;
  font-size: 30px;
  font-weight: bold;
}
:focus {
  outline: 2px solid wheat;
}
.copyBtn:hover {
  background-color: #f7daa4;
  color: #7b5023;
}
